# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# C extensions
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/
env/
.venv/
.env/

# IDE files
.vscode/
.idea/

# Logs and temp files
*.log
*.tmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Secret or config files
.env
config.yaml
